<!DOCTYPE html>
<html>

<head>
    <title>Sign up</title>
</head>

<body>
    <form action="/signup" method="post">
        <div>
            <label>
                email
                <input type="text" name="email" />
            </label>
        </div>
        <div>
            <label>
                Fullname
                <input type="text" name="fullname" />
            </label>
        </div>
        <div>
            <label>
                Password
                <input type="text" name="password" />
            </label>
        </div>
        <input type="submit" value="Sign up" />
    </form>
</body>

</html>